@import "./variables";

.banner {
    width: 100%;;
    height: 60vh;
    background: url("/imgs/pug.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-bottom: 14em;

    &-form {
        position: absolute;
        bottom: -170px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
        z-index: 10;
        padding: 0em 1em;
        background: white;
        border-radius: 20px;
        box-shadow: 0 3px 10px gray;
        max-width: 300px;

        &-slogan {
            color: #000;
            text-align: center;
            background: $tan;
            margin: -.2em -.93em 1em -.93em;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 1em;
            font-size: 1.15rem;

            // Break the slogan line after the word "your"
            &-top-line::after {
                content: "\a";
                white-space: pre;
                line-height: 1.5em;
            }
        }

        label {
            color: #000;
            // font-size: .9rem;
            padding-bottom: 2.5em;
        }

        form select {
            font-family: 'montserrat', Georgia, 'Times New Roman', Times, serif;
            width: 100%;
            border: 1px solid #000;
            margin: .5em 0 1em 0;                      
        }
    }

    .overlay {
        background: rgba(0, 0, 0, .15);
        width: 100%;
        height: 60vh;
      }
}

#zip {
    width: 100%;
    margin: .5em 0 1.5em 0;
    padding: 0 2px;
    font-family: 'montserrat', Georgia, 'Times New Roman', Times, serif;
  }
  
  #banner-form-submit-btn {
    background: #fff;
    border: 2px solid black;
    padding: .25em 1em;
    border-radius: 8px;
    color: #000;
    font-size: .9rem;
    display: block;
    margin: 0 auto 1em auto;
    width: 40%;
    text-align: center;
    font-weight: bold;
    font-family: 'montserrat', Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    transition: all .3s;

    &:hover {
        background: $tan;
        cursor: pointer;
    }
  }